

.heading-manage-em {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
  }
  
  .heading-manage-em h3 {
    margin: 10px;
  }
  
  /* manageStyle.css */
  
  .field_search_input {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .field_search_label {
    display: block;
    margin: 8px -4px 0px;
    font-size: 15px;
  }
  
  .field {
    width: 100%;
   
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 14px;
  }
  .city_field {
    margin-left: 38px;
  }
  .zip_field_Input {
      position: relative;
      right: -80px;
      width: 90%;
  }
  /* manageStyle.css */
  .btn_save_button {
    color: #0096a4;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid #0096a4;
    width: 138px;
    height: 41px;
  flex-shrink: 0;  
  }
  .Save {
    text-align: end;
  }
  

  